@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark1: #212529;
    --dark2: #6c757d;
    --clear1: #ffc107;
    --clear2: #f8f9fa;
    /*#202c56 #ac965a*/
    --jet: #323031;
    /* rgb(50, 48, 49) */
    --sunglow: #ffd166;
    /* rgb(255, 209, 102) */
    --frenchGray: #bbb5bd;
    /* rgb(187, 181, 189) */

    --ashGray: #ccdad1;
    --airForceBlue: #4e8098;
    --tomato: #fb4d3d;
    --amber: #f5bb00;
    --richBlack: #0d1321;


}

.cap-title {
    @apply bg-jet text-sunglow font-black text-5xl w-fit mx-auto px-2 py-3 rounded-lg select-none;
}

.cap-component-label {
    /*@apply text-lg font-black text-sunglow select-none;*/
    color: var(--sunglow) !important;
    font-weight: 800 !important;
    font-size: 1.1rem !important;
    user-select: none !important;
}

.section-container {
    @apply space-y-2;
}

.cap-component-container {
    /*@appy bg-jet rounded-md text-sunglow;*/
    background-color: var(--jet);
    border-radius: 8px;
    color: var(--sunglow);
}

.cells-container {
    @apply pl-2 pt-2 pb-0 pr-0;
}

.cap-cell {
    @apply rounded-sm inline-block box-border w-5 h-5 mr-1.5 mb-1.5;
}

.cap-cell.on {
    @apply bg-sunglow;
}

.cap-cell.off {
    @apply bg-french-gray;
}


.test-border {
    @apply border-[#ff0000] border-2 border-solid;
}