:root {
    --dark1: #212529;
    --dark2: #6c757d;
    --clear1: #ffc107;
    --clear2: #f8f9fa;
}


.cap-container-clear-1 {
    background-color: var(--clear1);
    color: var(--dark1)
}

.cap-container-clear-2 {
    background-color: var(--clear2);
    color: var(--dark2)
}

.cap-container-dark-1 {
    background-color: var(--dark1);
    color: var(--clear1);
    border: var(--dark1);
    text-align: center;
    border-radius: 3px;
}

.cap-container-dark-2 {
    background-color: var(--dark2);
    color: var(--clear2)
}



.cap-btn-group-select {
    background-color: var(--dark1);
    color: var(--clear1);
    width: 30%;
}

.cap-btn-group-select:hover {
    color: var(--clear1);
    font-weight: 800;
}

.cap-btn-group-select.cap-btn-group-select-active {
    background-color: var(--clear1);
    color: var(--dark1);
    font-weight: 600;
}


.cap-input-text:focus {
    background-color: var(--clear1);
    color: var(--dark1);
    outline: none;
    border-style: solid;
    border-width: 3px 4px 3px 4px;
    border-color: var(--clear2);
}

.cap-icon-cell {
    padding: 2px;
}

.cap-cell {
    padding: 0;
    width: 2em;
    height: 2em;
    font-size: 0.6em;
    margin: 1px;
    border-style: solid;
    border-width: 3px;
}

.cap-cell:hover {
    border-style: solid;
    border-width: 2px;
    border-color: var(--dark2);
}

.cap-cell-off {
    background-color: var(--dark1);
    border-color: var(--dark1);
}

.cap-cell-off-high {
    background-color: var(--dark1);
    border-color: var(--dark2);
}

.cap-cell-on {
    background-color: var(--clear1);
    border-color: var(--clear1);
}

.cap-cell-on-high {
    background-color: var(--clear1);
    border-color: var(--dark2);
}

.cap-cell-high {
    background-color: var(--clear2);
    border-color: var(--clear2);
}

.cap-deactivated-cell {
    color: var(--dark2);
}

.cap-rule-cell {
    padding: 0;
    width: 2.4em;
    height: 2.2em;
    font-size: 0.9em;
    margin: 2px;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
    font-weight: 600;
    user-select: none;
}

.cap-rule-cell-on {
    background-color: var(--clear1);
    border-color: var(--clear1);
    color: var(--dark1);
}

.cap-rule-cell-off {
    background-color: var(--dark1);
    border-color: var(--dark1);
    color: var(--clear1);
}

.cap-rule-cell:hover {
    font-weight: 900;
    outline-color: #f8f9fa;
    outline-style: solid;
    outline-width: 2px;
}


.cap-level {
    width: 3vmin;
    padding: 0;
    border-width: 0px 1px 0px 1px;
    border-color: var(--dark2);
}

.cap-level:nth-of-type(2) {
    border-left-width: 2px;
}

.cap-level:nth-last-of-type(1) {
    border-right-width: 2px;
}

.cap-level-off {
    background-color: var(--dark1);
}

.cap-level-on {
    background-color: var(--clear1);
}


.cap-section-selector-title {
    font-weight: 700;
    width: 50%;
}



#app-title {
    font-size: 3em;
    font-weight: 800;
    width: fit-content;
}

#canvas-container {
    margin: auto;
    width: fit-content;
    /* height: fit-content; */
    margin-top: 3vh;
    margin-bottom: 1vh;
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
}

#footer {
    font-size: small;
    font-weight: 500;
    text-align: center;
}
