@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* rgb(255, 209, 102) */
    /* rgb(50, 48, 49) */
    /* rgb(187, 181, 189) */

    --primary: #ffd166;
    --secondary: #323031;
    --tertiary: #bbb5bd;

    /*#202c56 #ac965a*/
}

.cap-title {
    @apply bg-secondary text-primary font-black text-5xl w-fit mx-auto px-2 py-3 rounded-lg select-none;
}

.cap-component-label {
    /*@apply text-lg font-black text-primary select-none;*/
    color: var(--primary) !important;
    font-weight: 800 !important;
    font-size: 1.1rem !important;
    user-select: none !important;
}

.section-container {
    @apply space-y-2;
}

.cap-component-container {
    /*@appy bg-secondary rounded-md text-primary;*/
    background-color: var(--secondary);
    border-radius: 8px;
    color: var(--primary);
}

.cells-container {
    @apply pl-2 pt-2 pb-0 pr-0;
}

.cap-cell {
    @apply rounded-sm inline-block box-border w-5 h-5 mr-1.5 mb-1.5;
}

.cap-cell.on {
    @apply bg-primary;
}

.cap-cell.off {
    @apply bg-tertiary;
}


.test-border {
    @apply border-[#ff0000] border-2 border-solid;
}